
.nav
{
    
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu
{

    display: flex;
    list-style-type: none;
    margin: 5%;
    flex-direction: row;
    color:green;
    font-family: sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;    
    
}

.button
{
    color:green;
    font-family: sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    text-decoration-line: none;
    a:hover { 
        background-color: yellow;
      }
}

#partners
{
    margin: 20px;
}

#gallery
{
    margin: 20px;
}
#about
{
    margin: 20px;
}
#home
{
    margin: 20px;
}
.logo  
{
    justify-self: right;
    width: 100px;
}

.container1
{

    margin-top: 10px;
    position: relative;
}

.text1 
{
    position: absolute;
    top: 80px;
    left: 40px;
    color:green;
    font-family: sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    padding-right: 55%;
    font-weight: 600;

} 
#watcher
{
    display: flex;
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
}

.container2
{

    position: relative;
    height: 500px;
    background-color: green;
    border-radius: 1rem;
    margin-top: 10px;
}

#birdh
{
    height: 450px;
    opacity: 85%;
    position: absolute;
    top: 30px;
    left: 40px;
    border-radius: 1rem;
}

.title1
{
    padding-left: 60%;
    position: absolute;
    top: 70px;
    right: 270px;
    text-align: justify;
    color: white;
    font-family: sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.text2
{
    padding-left: 60%;
    padding-right: 5%;
    position: absolute;
    top: 150px;
    right: 40px;
    text-align: left;
    color: white;
    font-size: large;
    font-family: sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 550;
}

.container3
{
    display: flexbox;
    justify-content: flex-end;
    height: 320px;
    background-color:white;
    border-radius: 1rem;
    margin-top: 10px;
}


.title2
{

    top: 40px;
    left: 40px;
    color:green;
    font-family: sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 650;
}
.text3
{
   

    top: 100px;
    left: 40px;
    text-align: left;
    color:  green;
    font-family: sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: 550;
}

.gframe
{
    width: 100%;
    justify-content: right;
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.gtext
{
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-right: 8%;
    padding-top: 4%;
    flex-direction: column;
    align-items: center;
    left: 40px;
    text-align: left;
}

.birdimg
{
    
   
    width: 320px;
    border-radius: 1rem;
 
}
.container4
{
    padding-top: 1%;
    height: 400px;
    margin-top: 10px;
    border-radius: 1rem;
    background-color: #fff7d8;
    text-align: center;
}

.title3
{
    

    display: flex;
    justify-content: center;
    height: 50px;
    color:  green;
    font-family: sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    font-weight: 550;
}

.pics
{
    display: flex;
    height: 62%;
    justify-content: space-around;
    align-items: center;
    
}
.partimg
{
    height: 100px;
}

.footer
{
    display: flex;
    flex-direction: row;
    width: 100%;

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-top: 10px;
    height: 50px;
    background-color: green;

}

.footitems
{
    display: flex;
    width: 90%;
    justify-content: space-between;
    list-style-type: none;
    color: white;
    font-family: sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;

}
